<%# Uses rails_bootstrap_form gem. API at: https://github.com/bootstrap-ruby/rails-bootstrap-forms %>
<%= javascript_include_tag params[:vue_objects] %>

<% if false %>
  <%= bootstrap_form_for(simulation) do |f| %>
    <%= f.alert_message "Please fix the errors below." %>

    <%= f.text_field :status %>
    <%= f.text_area :job_cache %>

    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= f.button 'Reset', type: :reset, class: 'btn btn-default' %>

    <hr>

    <%= link_to 'Back', simulations_path, class: 'btn btn-default' %>
    <%= link_to 'Show', simulation, class: 'btn btn-primary' unless simulation.new_record? %>
  <% end %>
<% end %>

<div class="row" id="vue-app">
  <!-- Control Panel -->
  <div class="col-md-3 box">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-start">
          <h4 class="panel-title">Start</h4>
        </div>
        <div id="collapse-start" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <label for="username">User Name:</label>
              <input v-model="start_panel_data.user_name" class="form-control" id="username" disabled/>
            </div>
            <div class="form-group">
              <label for="eweld_job_description">Description:</label>
              <input v-model="start_panel_data.job_description" class="form-control" id="eweld_job_description" placeholder="Provide Job Description"
                     maxlength="50" />
            </div>
            <div class="form-group">
              <label for="walltime_requested">Walltime (1 to 10 hours):</label>
              <input v-model.number="start_panel_data.walltime_hours" class="form-control" id="walltime_requested" type="number" value="1" min="1" max="10" />
            </div>
            <div class="form-group">
              <label for="weld-technique">Weld Technique:</label>
              <select v-model="technique_data.selected" class="form-control" id="weld-technique">
                <option v-for="technique in technique_data.types" v-bind:value="technique.value">
                  {{ technique.title }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-dimensions">
          <h4 class="panel-title">Fixture Shape</h4>
        </div>
        <div id="collapse-dimensions" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="form-group">
              <label for="fixture-shape">Fixture Shape:</label>
              <select v-model="dimension_data.selected" class="form-control" id="fixture-shape" @change="compatibleJoint(); renderThree();">
                <option v-for="fixture_shape in dimension_data.fixture_shapes" v-bind:value="fixture_shape.value">
                  {{ fixture_shape.title }}
                </option>
              </select>
              <div v-if="dimension_data.selected === 'plate'">
                <%= image_tag(image_path('plate.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Width (W1)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'plate').dimensions.width_w1">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Width (W2)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'plate').dimensions.width_w2">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Thickness</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'plate').dimensions.thickness">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Length</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'plate').dimensions.length">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
              </div>
              <div v-if="dimension_data.selected === 't_plate'">
                <%= image_tag(image_path('t-plate-dim.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Thickness (T1)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_plate').dimensions.thickness_t1">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Thickness (T2)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_plate').dimensions.thickness_t2">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Width (W1)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_plate').dimensions.width_w1">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Width (W2)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_plate').dimensions.width_w2">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Length</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_plate').dimensions.length_l">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Height</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_plate').dimensions.height_h">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
              </div>
              <div v-if="dimension_data.selected === 'pipe'">
                <%= image_tag(image_path('pipe-dim.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Outer Diameter</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="validatePipeThickness(); renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'pipe').dimensions.outer_diameter">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Wall Thickness</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="validatePipeThickness(); renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'pipe').dimensions.wall_thickness">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Length (W1)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'pipe').dimensions.length_w1">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Length (W2)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'pipe').dimensions.length_w2">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
              </div>
              <div v-if="dimension_data.selected === 't_pipe'">
                <%= image_tag(image_path('t-pipe-dim.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Outer Diameter</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="validatePipeThickness(); renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_pipe').dimensions.outer_diameter">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Wall Thickness (T1)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="validatePipeThickness(); renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_pipe').dimensions.wall_thickness">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Flange Thickness (T2)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_pipe').dimensions.flange_thickness_t2">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Length (W1)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_pipe').dimensions.length_w1">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Length (W2)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_pipe').dimensions.length_w2">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Flange Height (H)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 't_pipe').dimensions.flange_height_h">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
              </div>
              <div v-if="dimension_data.selected === 'lap_joint'">
                <%= image_tag(image_path('lap_joint.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Thickness (T1)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'lap_joint').dimensions.thickness_t1">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Thickness (T2)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'lap_joint').dimensions.thickness_t2">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Width (W1)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'lap_joint').dimensions.width_w1">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Width (W2)</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'lap_joint').dimensions.width_w2">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Overlap</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'lap_joint').dimensions.overlap">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Length</label>
                  <div class="col-md-6">
                    <input type="number" step="0.1" class="form-control" @change="renderThree();" v-model.number="dimension_data.fixture_shapes.find(shape => shape.value === 'lap_joint').dimensions.length">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-geometry">
          <h4 class="panel-title">Weld Geometry</h4>
        </div>
        <div id="collapse-geometry" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="form-group">
              <label for="joint-design">Joint Design:</label>
              <select v-model="joint_data.selected" class="form-control" id="joint-design" @change="renderThree();">
                <option v-for="joint_design in dimension_data.fixture_shapes.find(shape => shape.value === dimension_data.selected).joint_designs" v-bind:value="joint_design" >
                  {{ joint_data.joint_designs.find(d => d.value === joint_design).title }}
                </option>
              </select>
              <div v-if="joint_data.selected === 'bead_on_plate'">
                <%= image_tag(image_path('bead_on_plate_design.png'), :style => "max-width: 100%") %>
              </div>
              <div v-if="joint_data.selected === 'bevel_groove'">
                <%= image_tag(image_path('bevel_groove_design.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">a</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.a">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">β</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.beta">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
              </div>
              <div v-if="joint_data.selected === 'compound_bevel'">
                <%= image_tag(image_path('cb_design.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">a</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.a">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">b</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.b">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">α</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.alpha">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">β</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.beta">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
              </div>
              <div v-if="joint_data.selected === 'j_groove'">
                <%= image_tag(image_path('j_design.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">a</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.a">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">b</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.b">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">r</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.r">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">β</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.beta">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
              </div>
              <div v-if="joint_data.selected === 'u_groove'">
                <%= image_tag(image_path('u_design.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">a</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.a">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">b</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.b">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">r</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.r">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">β</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.beta">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
              </div>
              <div v-if="joint_data.selected === 'v_groove'">
                <%= image_tag(image_path('v_design.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">a</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.a">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">β</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.beta">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
              </div>
              <div v-if="joint_data.selected === 't_bevel'">
                <%= image_tag(image_path('t_joint_design.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">a</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.a">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">b</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.b">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">α</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.alpha">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">β</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.beta">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
              </div>
              <div v-if="joint_data.selected === 'lap_bevel'">
                <%= image_tag(image_path('lap_bevel.png'), :style => "max-width: 100%") %>
                <div class="form-group row">
                  <label class="col-md-4 control-label">a</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.a">
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">α</label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" v-model.number="joint_data.dimensions.alpha">
                  </div>
                  <label class="col-md-2 control-label">deg.</label>
                </div>
              </div>
              <div v-if="joint_data.joint_designs.find(design => design.value === joint_data.selected).gap">
                <div class="checkbox">
                  <label><input type="checkbox" v-model="joint_data.root_gap.present" @change="renderThree();">Include Root Gap</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">g</label>
                  <div class="col-md-6">
                    <input v-model.number="joint_data.root_gap.range"  @change="renderThree();" class="form-control" id="root-gap-val" :disabled="joint_data.root_gap.present == 0" step="0.01" type="number" />
                  </div>
                  <label class="col-md-2 control-label">in.</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse-bead-definition">
          <h4 class="panel-title">Bead Definition</h4>
        </div>
        <div id="collapse-bead-definition" class="panel-collapse collapse">
          <div class="panel-body">
            <label>Number of Beads</label>
            <input type="number" v-model.number="bead_data.num_beads" class="form-control" min="1">
            <!--
            <select v-model="bead_data.selected" class="form-control" id="bead-definition-select">
              <option v-for="bead_type in bead_data.bead_types" v-bind:value="bead_type.value">
                {{ bead_type.title }}
              </option>
            </select>


            <canvas id="bead_canvas_0"></canvas>
            <div class="col-md-12">
              <div class="form-group row">
                <label for="inputKey" class="col-md-2 control-label">A</label>
                <div class="col-md-4">
                  <input class="form-control" id="inputKey" placeholder="0.0">
                </div>
                <label for="inputValue" class="col-md-2 control-label">B</label>
                <div class="col-md-4">
                  <input class="form-control" id="inputValue" placeholder="0.1">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label for="inputKey" class="col-md-2 control-label">C</label>
                <div class="col-md-4">
                  <input class="form-control" id="inputKey" placeholder="0.0">
                </div>
                <label for="inputValue" class="col-md-2 control-label">D</label>
                <div class="col-md-4">
                  <input class="form-control" id="inputValue" placeholder="-0.150">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label for="inputKey" class="col-md-2 control-label">W</label>
                <div class="col-md-4">
                  <input class="form-control" id="inputKey" placeholder="0.3">
                </div>
                <label for="inputValue" class="col-md-2 control-label">R</label>
                <div class="col-md-4">
                  <input class="form-control" id="inputValue" placeholder="0.0">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label for="inputKey" class="col-md-2 control-label">Z<sup>start</sup></label>
                <div class="col-md-4">
                  <input class="form-control" id="inputKey" placeholder="0.0">
                </div>
                <label for="inputValue" class="col-md-2 control-label">Z<sup>end</sup></label>
                <div class="col-md-4">
                  <input class="form-control" id="inputValue" placeholder="0.5">
                </div>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-materials">
          <h4 class="panel-title">Materials</h4>
        </div>
        <div id="collapse-materials" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="form-group">
              <label for="weld-geometry">Part 1 - Base Metal:</label>
              <select v-model="material_data.base_material1.selected" class="form-control" id="weld-geometry">
                <option v-for="type in material_data.base_material_types" v-bind:value="type">
                  {{ type }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="weld-geometry">Part 2 - Base Metal:</label>
              <select v-model="material_data.base_material2.selected" class="form-control" id="weld-geometry">
                <option v-for="type in material_data.base_material_types" v-bind:value="type">
                  {{ type }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="weld-geometry">Filler Wire:</label>
              <select v-model="material_data.filler_material.selected" class="form-control" id="weld-geometry">
                <option v-for="type in material_data.filler_material_types" v-bind:value="type">
                  {{ type }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-weld-procedure">
          <h4 class="panel-title">Weld Procedure</h4>
        </div>
        <div id="collapse-weld-procedure" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="form-group">
              <label for="pre-heat-temp-f">Pre-Heat Temp F:</label>
              <input v-model.number="procedure_data.pre_heat_temp_F" class="form-control" id="pre-heat-temp-f" type="number" min="1" />
            </div>
            <div class="form-group">
              <label for="pre-heat-temp-c">Pre-Heat Temp C:</label>
              <input v-model.number="procedure_data.pre_heat_temp_C" class="form-control" id="pre-heat-temp-c" type="number" min="1" />
            </div>
            <div class="form-group">
              <label for="inter-pass-temp-f">Inter-Pass Temp F:</label>
              <input v-model.number="procedure_data.inter_pass_temp_F" class="form-control" id="inter-pass-temp-f" type="number" min="1" />
            </div>
            <div class="form-group">
              <label for="inter-pass-temp-c">Inter-Pass Temp C:</label>
              <input v-model.number="procedure_data.inter_pass_temp_C" class="form-control" id="inter-pass-temp-c" type="number" min="1" />
            </div>
            <div class="form-group">
              <h4 v-if="procedure_data.weld_passes.length > 0">Weld Passes</h4>
              <table>
                <tr v-if="procedure_data.weld_passes.length > 0">
                  <th></th>
                  <th>Current</th>
                  <th>Voltage</th>
                  <th>TS (ipm)</th>
                  <th></th>
                </tr>
                <tr v-for="(pass, key) in procedure_data.weld_passes">
                  <td>{{ key + 1 }}&nbsp;&nbsp;</td>
                  <td><input v-model.number="pass.current_A" type="number" style='width:5em' /></td>
                  <td><input v-model.number="pass.voltage_V" type="number" style='width:5em' /></td>
                  <td><input v-model.number="pass.travel_ipm" type="number" style='width:4em' /></td>
                  <td>&nbsp;<span class="fa fa-times" @click="removeWeldPass(key)" aria-hidden="true" style="color:red"></span></td>
                </tr>
              </table>
            </div>

            <div class="form-group">
              <button class="btn btn-primary pull-right" @click="addWeldPass"><span class="fa fa-plus"></span> Add Weld Pass</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button id="form-submit-button" class="btn btn-primary col-md-12">Submit</button>
    </div>
  </div>
  <div class="col-md-9 box">
    <!-- Graphic Panel -->
    <div id="weld-render-view">

    </div>
    <div>
      <button class="btn btn-primary pull-right" onclick="reset_camera()"><span class='fa fa-video-camera'></span> Reset Camera</button>
    </div>
  </div>
</div>



<script>
  <%= "var simulation_id = #{simulation.id || 'null'};" %>
</script>
